#wrapper {
    display: flex;
    overflow: hidden; /* add this to contain floated children */
}
#first {
    width: 300px;
    float:left; /* add this */
}
#second {
    float: right; /* add this */
}